{% extends 'mailsender/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for user in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">{{ user.name }} </h5>
                    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>

                    <p class="card-text"><strong>Статус:</strong> {% if user.STATUS_ACTIVE %}Активен{% else %}Заблокирован{% endif %}</p>
                    {% if perms.users.block_another_user %}
                    <a href="{% url 'users:user_update' user.pk %}" class="btn btn-primary">Изменить статус пользователя</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}