{% extends 'mailsender/base.html' %}

{% block content%}

<div class="jumbotron jumbotron-fluid hero">
    <div class="container">
        <h1 class="display-4">Сервис управления рассылками</h1>
        <p class="lead">Поможет Вам поддерживать интерес клиентов.</p>
        <div class="buttons">

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'mailsender:create_client' %}" role="button">Добавить клиента</a>
                <a class="btn btn-primary btn-lg" href="{% url 'mailsender:create_mailing' %}" role="button">Создать рассылку</a>
                <a class="btn btn-primary btn-lg" href="{% url 'mailsender:create_message' %}" role="button">Создать сообщение для рассылки</a>
            </p>
        </div>
    </div>
</div>
<!-- CTA -->
<div id="home-cta" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <i class="fas fa-bullhorn"></i>
            </div>
            <div class="col-sm">
                <h3>Хотите побольше узнать о пользе рассылок?</h3>
                <p>Узнайте больше о возможностях контактов с клиентами через рассылки, способах увеличения продаж и сбора данных в нашем блоге.</p>

            <div class="col-md-auto">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Перейти в блог</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3-C ICON -->
<div id="services" class="container-fluid primary-section blue">
    <div class="container">
        <h2 class="section-title">Наши рассылки</h2>
        <hr class="my-4">
        <p class="section-flavor">Достигайте новых высот</p>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-chart-line"></i>
                        <h3>Красота и здоровье</h3>
                        <p>Пошли спасать мир!</p>
                    </div>
                    <div class="card-footer">
                        <p class="lead">
                            <a class="btn btn-link" href="#" role="button">Узнать подробнее</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-reply"></i>
                        <h3>Строительство и дизайн</h3>
                        <p>Сделай мне красиво.</p>
                    </div>
                    <div class="card-footer">
                        <p class="lead">
                            <a class="btn btn-link" href="#" role="button">Узнать подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-users"></i>
                        <h3>Общение</h3>
                        <p>Там, где тебе дадут любой непрошеный совет.</p>
                    </div>
                    <div class="card-footer">
                        <p class="lead">
                            <a class="btn btn-link" href="#" role="button">Узнать подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}