{% extends 'mailsender/base.html' %}

{% block content%}

<div class="jumbotron jumbotron-fluid hero">
    <div class="container">
        <h1 class="display-4">Сервис управления рассылками</h1>
        <p class="lead">Поможет Вам поддерживать интерес клиентов.</p>
        <div class="buttons">

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'mailsender:create_client' %}" role="button">Добавить клиента</a>
                <a class="btn btn-primary btn-lg" href="{% url 'mailsender:create_mailing' %}" role="button">Создать рассылку</a>

            </p>
        </div>
    </div>
</div>
<!-- CTA -->
<div id="home-cta" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <i class="fas fa-bullhorn"></i>
            </div>
            <div class="col-sm">
                <h3>Хотите побольше узнать о пользе рассылок?</h3>
                <p>Узнайте больше о возможностях контактов с клиентами через рассылки, способах увеличения продаж и сбора данных в нашем блоге.</p>

            <div class="col-md-auto">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Перейти в блог</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3-C ICON -->
<div id="services" class="container-fluid primary-section blue">
    <div class="container">
        <h2 class="section-title">Наши рассылки</h2>
        <hr class="my-10">
        <p class="section-flavor">Достигайте новых высот</p>
        <div class="row">
            {% for mailing in mailing_list %}
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-chart-line"></i>
                        <h3>{{ mailing.name }}</h3>
                        <p class="card-text">{{ mailing.owner }}</p>

                    </div>
                    <div class="card-footer">
                        <p class="lead">
                            <a class="btn btn-link" href="{% url 'mailsender:mailing_detail' mailing.id %}" role="button">Узнать подробнее</a>
                            {% if user.is_authenticated %}
                            <a class="btn btn-link" href="{% url 'mailsender:mailing_update' mailing.id %}" role="button">Изменить</a>
                            {% endif %}
                            {% if perms.mailing.block_mailing %}
                            <a class="btn btn-link" href="{% url 'mailsender:mailing_update' mailing.id %}" role="button">Заблокировать</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>




{% endfor %}
{% endblock %}