{% extends 'mailsender/base.html' %}
{% block content%}

    <div class="row mt-2">
        <div class="col m-2">
            <h1>Рассылки</h1>
            <div class="row mt-2">
        <div class="col m-2">

            <a class="btn btn-success" href="{% url 'mailsender:create_mailing' %}">Добавить рассылку</a>

        </div>
    </div>
            <table class="table table-reflow">
                <thead>
                    <tr class="table-active">
                        <th>Название рассылки</th>
                        <th>Время отправки</th>
                        <th>Периодичность</th>
                        <th>Статус</th>
                        <th>Сообщение</th>
                        <th>Клиенты</th>

                    </tr>
                </thead>
                <tbody>
                        <td>{{ object.name }}</td>
                        <td>{{ object.sending_time }}</td>
                        <td>{{ object.frequency }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.client }}</td>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}