{% extends 'mailsender/base.html' %}

{% block content%}

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h2>{{ object.name }}</h2>
                <p>Дата отправки: {{ object.sending_time }}</p>
                <p>Периодичность: {{ object.frequency }} руб.</p>
                <p>Клиенты, подписанные на рассылку: {{ object.client.all }} </p>
                <div class="">


                        <a href="{% url 'mailsender:mailing_update' object.id %}" type="button" class="btn btn-outline-primary">изменить</a>


                        <a href="{% url 'mailsender:delete_mailing' object.id %}" type="button" class="btn btn-outline-primary">удалить</a>


                    </div>

            </div>
<div class="col-6">

        </div>
    </div>
{% endblock %}